/* Add your custom CSS styles here */
body {
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

#task-form {
    margin-bottom: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
